<div class='card m-4'>
  <div class='card-body'>
    <p>
      blog/weather-child-component template
    </p>
    <p>
      Tracked temperature from parent : {{this.temperature}}
    </p>
  </div>
</div>