<div class='card m-4'>
  <div class='card-body'>
    <p>
      Index template
    </p>
    <ul>
      <li>
        <LinkTo @route='ember'>
          Route to Ember (page)
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='blog'>
          Route to blog (engine)
        </LinkTo>
      </li>
    </ul>

    {{outlet}}
  </div>
</div>